<h1>Welcome, <%= current_user.name %></h1>

<div class="goal-box">
  <% @goals.each do |goal| %>
    <div class="goal">
      <%= image_tag("plant-#{goal.plant_image}", width: "100") %>
      <h3><%= link_to goal.name, goal_path(goal) %></h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="<%= goal.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= goal.progress %>%"></div>
      </div>
    </div>
  <% end %>
</div>

<div class="btn btn-success button">
  <%= link_to "New Goal", new_goal_path(@goal) %>
</div><br>
