<div class="back-button">
  <p>&#8592;</p>
  <%= link_to 'Back to Home', root_path%>
</div>
<div id="show-goal">

<!-- INFO ROW -->
  <div class="row goal-info">

    <!-- LEFT SIDE -->
    <div class="left-goal-box">
      <h1 id="goal-name">Goal: <%= @goal.name %></h1>

      <div class="progress goal-bar">
        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="<%= @goal.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @goal.progress %>%"></div>
      </div>
      <br>

      <p><%= @goal.description %></p>
      <p class="status status-<%= @goal.status %>"><%= @goal.status %></p>

      <% if !@goal.categories.empty? %>
        <div class="category">
          <h6>CATEGORY: </h6>
          <% @goal.categories.each do |c| %>
            <h6><%= c.name %><% if c != @goal.categories.last%> , <% end %></h6>
          <% end %>
        </div>
      <% end %>

      <% if @goal.status != "Complete" %>
        <h3><%= distance_of_time_in_words(Date.current, @goal.end_date).capitalize%>&nbsp; Remaining</h3>
      <% end %>


    </div>
    <!-- END OF LEFT SIDE -->

    <!-- RIGHT SIDE -->
    <div class="right-goal-box">
      <%= image_tag("plant-#{@goal.plant_image}", width: "200") %>
        <div class="goal-buttons">
          <div class="btn btn-info button">
            <%= link_to "Edit Goal", edit_goal_path(@goal) %>
          </div>

          <div class="btn btn-danger button">
            <%= link_to "Delete Goal", goal_path(@goal), method: :delete %>
          </div>
        </div>
      </div>
    <!-- END OF RIGHT SIDE -->

  </div>
<!-- END OF INFO ROW-->

  <hr>

<!-- TASKS ROW -->
  <h3>Tasks:</h3>
  <div class="goal-tasks row">
    <div class="task-box">
      <% @goal.tasks.each do |a| %>
      <%= link_to a.name, task_path(a), :class => 'task' %>
      <% end %>
    </div>
  </div>
<!-- END OF TASKS ROW -->

  <div class="btn btn-success button">
    <%= link_to "New Task", new_goal_task_path(@goal) %>
  </div><br>
</div>
