<h5>Welcome, <%= current_user.name %></h5>

<h1>Goal: <%= @goal.name %></h1>
<p>Description: <%= @goal.description %></p>
<p>Status: <%= @goal.status %></p>

<% if !@goal.categories.empty? %>
  <h3>Category: </h3>
  <% @goal.categories.each do |c| %>
    <h3><%= c.name %></h3>
  <% end %>
<% end %>

<h3>Tasks:</h3>
<% @goal.tasks.each do |a| %>
  <h4><%= link_to a.name, task_path(a) %></h4>
<% end %>
<div class="btn btn-secondary button">
  <%= link_to "New Task", new_goal_task_path(@goal) %>
</div><br>

<br>

<div class="btn btn-info button">
  <%= link_to "Edit Goal", edit_goal_path(@goal) %>
</div>

<div class="btn btn-danger button">
  <%= link_to "Delete Goal", goal_path(@goal), method: :delete %>
</div>
