<!DOCTYPE html>
<html>
  <head>
    <title>Grow Your Goals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-rGAkR2qts0FfeepPEwAKdA+KLiTct+OBJ7ukPPivL86aKZa39nuOS0Yj6Sy8ebLR" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <header>
        <!-- Logo -->
        <%= image_tag("Logo-Grow.svg", width: '800px', id: 'main-logo') %>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-menu">
          <div class="" id="navbarColor03">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to('Home', root_path)  %>
              </li>
              <li class="nav-item">
                <%= link_to('Garden', '/garden') %>
              </li>
              <li class="nav-item">
                <%= link_to('Tasks', tasks_path)  %>
              </li>
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to('Login', new_user_session_path)  %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>

      <!-- Main -->
      <main role="main" class="main-container">

        <%= yield %>

      </main>

      <!-- Footer -->
      <footer>
          <div id="footer-left"><p>Copyright &copy; 2017 <a href="http://jennimacklin.com">Jenni Macklin</a></p></div>
          <div id="footer-right"><p>Created as part of the <a href="https://flatironschool.com">Learn.Co</a> curriculum</p></div>
      </footer>
  </div>


  </body>
</html>
