<!DOCTYPE html>
<html>
  <head>
    <title>Grow Your Goals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-rGAkR2qts0FfeepPEwAKdA+KLiTct+OBJ7ukPPivL86aKZa39nuOS0Yj6Sy8ebLR" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <!-- Logo -->
      <%= image_tag("Logo-Grow.svg", width: '800px') %>

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-menu">
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Actions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Garden</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="main-container">

      <%= yield %>

    </div>
    <!-- Footer -->
    <footer>
        <div id="footer-left"><p>Copyright &copy; 2017 <a href="http://jennimacklin.com">Jenni Macklin</a></p></div>
        <div id="footer-right"><p>Created as part of the <a href="https://flatironschool.com">Learn.Co</a> curriculum</p></div>
    </footer>


  </body>
</html>
